header#banner.hero-unit
  .container
    h1 Q - Api Tester
    p.lead Postman like Api tester.
    div.text-center
      a.btn.btn-primary.btn-lg(ui-sref='login' ng-if='!$ctrl.isLoggedIn') Register
      a.btn.btn-primary.btn-lg(ui-sref='tester' ng-if='$ctrl.isLoggedIn') Start Testing

